img {
	height: 150px;
	width: 150px;
	border: 1px solid black;
}
.menu {
	height: 500px;
	width: 500px;
	background-color: #808080;
	border: 5px double black;
	position: fixed;
	top: 10%;
	left: 30%;
	opacity: 0;
}
.menurow {
	margin-top: 80px;
}
.menubutton {
	border: 1px solid black;
	height: 50px;
	background-color: #A9A9A9;
}